<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>Asciicasts by ~<%= @user.nickname %></h1>
      <%= render :partial => 'asciicasts/previews' %>
      <%= paginate @asciicasts %>
    </div>

    <div class="extras">
      <h1>The Speaker</h1>
      <p>
        <img class="avatar" src="//secure.gravatar.com/avatar/09a14d61e3e1f8b1fe6866b4fdbb4abe?s=47">
      </p>
      <h3>Asciicasts by</h3>
      <h2>~<%= @user.nickname %></h2>
    </div>
  </div>
</section>


<%# <div class="page-header"> %>
<%#   <h1> %>
<%#     ~<%= @user.nickname %1> %>
<%#     <%= avatar_img(@user) %1> %> 
<%#   </h1> %>

<%#   <p class="meta"> %>
<%#     <%= @user.asciicasts.count %1> asciicasts %>
<%#   </p> %>

<%#   <% if current_user %1> %>
<%#     <p><%= link_to 'Settings', edit_user_path %1></p> %>
<%#   <% end %1> %>
<%# </div> %>
