<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%= render :partial => 'asciicasts/player',
                :locals => { :asciicast => @asciicast } %>

  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @asciicast.smart_title %></h1>
      <div class="description">
        <% if @asciicast.description.present? -%>
          <%= @asciicast.formatted_description %>
        <% else -%>
          <em>No description.</em>
        <% end -%>
      </div>
    </div>

    <div class="extras">
      <div class="presenter">
        <%= link_to profile_path(@asciicast.user) do %>
          <%= avatar_img @asciicast.user, :class => '' %>
        <% end -%>
        <h2><%= profile_link @asciicast %></h2>
        <p><%= @asciicast_author.asciicasts_count %> asciicasts</p>
      </div>

      <h1>Info</h1>

      <ul class="delimited">
        <li>
          Recorded: <%= @asciicast.created_at %> ago
        </li>
        <li>
          Viewed: <%= @asciicast.views_count %> times
        </li>
      </ul>

      <%# <h1>Share</h1> %>

      <%# <ul class="delimited"> %>
      <%#   <li> %>
      <%#     Twitter %>
      <%#   </li> %>
      <%# </ul> %>
    </div>
  </div>
</section>

    <%# <div class="extras"> %>
    <%#   </div> %>
    <%# </div> %>
